@import '@/index.scss';
.ModelBtn{
    // background-color: rgba($color: #003459, $alpha: 1);
    color: $normalBtnColor;
    border: 1px solid $normalBtnColor;
}

.normalBtn{
    // background-color: rgba($color: #003459, $alpha: 1);
    margin: 0;
    color: $normalBtnColor;
    border: 1px solid $normalBtnColor;
    // border-radius: 8px;
    margin: 3px;
    box-shadow: 0px 0px 3px rgba($color: black, $alpha: 0.5);


}
.deleteBtn{
    box-shadow: 0px 0px 3px rgba($color: black, $alpha: 0.5);

    &:hover{
        // color: #ff0000;
        box-shadow: 0px 0px 3px rgba($color: black, $alpha: 0.5);
    }
    
}

// 树结构
.treeIndex{
    margin-left: 5px;
    margin-bottom: 5px;
    // padding-bottom: 10px;
    background-color: #fff;
    // height: 100%;
    box-shadow: 0px 0px 3px rgba($color: black, $alpha: 0.5);
    // border-radius: 5px;
    // box-shadow:0 0 10px #000;

}

// 表格1
.table1{
    // padding: 5px;
    background-color: #fff;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0px 0px 3px rgba($color: black, $alpha: 0.5);
}
// 表格2
.table2{
      // padding: 5px;
     margin-right: 5px;
     margin-bottom: 5px;
    background-color: #fff;
    margin-top: 10px;
      padding-bottom: 5px;
      padding-top: 5px;
      box-shadow: 0px 0px 3px rgba($color: black, $alpha: 0.5);
}