.clock-container{
    margin-left: 50px;
    padding: 8px;
    // width: 240px;
    border-radius: 5px;
    border:1px solid #dce8f8;
    background-color: #dce8f8;
    color: #538eda;
    margin-right: 60px;
}