.home {
 // display :flex;
  //flex-direction: row;
 // margin-top: 20px;
}
.tree {
  //font-size: 50px;
}
.container {
  padding: 0 !important;
};
.content {
  border-right: 1px solid #f0f0f0;
  padding: 20px;
};
